
<img src="res/static/ubuntu-logo32.png" alt="ubuntu-logo32.png" />
<img src="res/static/batman-logo-big.gif" alt="batman-logo-big.gif" />
<img src="res/static/bird.jpeg" alt="bird.jpeg" />
<img src="res/static/bird.jpeg" alt="bird.jpeg" /><img src="res/static/bird.jpeg" alt="bird.jpeg" />
<img src="res/static/bird.jpeg" alt="bird.jpeg" />
<img src="res/static/ubuntu-logo32.png" alt="ubuntu-logo32.png" />
<img src="res/static/bird.jpeg" alt="bird.jpeg" />

<img src="res/static/ubuntu-logo32.png" alt="ubuntu-logo32.png" />

