/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.text {
	-fx-fill : white;	
}

.root {
	-fx-background-color: #383838;
}

.tab-pane {
	-fx-background-color: #383838;
}

.label {
	-fx-text-fill: white;
}

.menu-bar {
	-fx-background-color: #282828;
}

.menu-item {
	-fx-background-color: #282828;
}

.menu-item:focused {
	-fx-background-color: darkgray;
	-fx-background-radius:0.0;
}
/* 
 * This selector causes every button in the HTML content turns black.
 */
 /* 
.button {
	-fx-background-color: black;
	-fx-text-fill:white;
	
}
*/
/* So I temporarily replaced it with this one */

#console-text-field {
	-fx-background-color : #000044;
	-fx-text-fill: white;
}

#console-run-button 
{
	-fx-background-color: black;
	-fx-text-fill:white;
}

#surf-button {
	-fx-background-color: transparent; /* dark-blue */
	-fx-text-fill: white;
}


.combo-box-base {
	-fx-background-color: black, black, black, black;
	
}

.combo-box-base:showing 
{
-fx-color: -fx-pressed-base;
}

.combo-box {
	-fx-background-color: #333333;
	-fx-text-fill: white;
}

.combo-box .list-cell 
{
-fx-background: white;
-fx-background-color: black;
-fx-text-fill: white;

}
.combo-box-popup .list-view 
{
-fx-background-color: black, black;
-fx-background-insets: 0, 1;
-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
}    .combo-box-popup .list-view .list-cell 
{
-fx-padding: 4 0 4 5;

/* No alternate highlighting */
-fx-background-color: black;
}
.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover 
{
-fx-background: -fx-accent;
-fx-background-color: #000044;
-fx-text-fill: -fx-selection-bar-text;
}
.combo-box-popup .list-view .list-cell:filled:hover 
{
-fx-background-color: white;
-fx-text-fill: -fx-text-inner-color;
}

#address-bar {
	-fx-background-color: #000044; /*dark blue*/
	-fx-text-fill:white;
}


.context-menu {
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-color: #282828;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
/*    -fx-padding: 0.666667em 0.083333em 0.666667em 0.083333em;  8 1 8 1 */
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em; /* 4 1 8 1 */
}


#editor-tab{
	-fx-background-color: black;
}

#editor-tab:selected {
	-fx-background-color: #000044;
}

#console-box {
	-fx-background-color: black;
}

#console-area {
	-fx-background-color: black;
}

.text-area .content {
	-fx-background-color: black;
	-fx-text-fill : white;
}








