.text {
	-fx-fill: white;
}

.keyword {
    -fx-fill: magenta;
    -fx-font-weight: bold;
}

.code-area {
	-fx-background-color: #444444;
}

.string {
	-fx-fill: yellow;
}

.semicolon {
	-fx-fill: greenyellow ;
}


.lineno {
	-fx-text-fill: white;
	-fx-background-color: #555555;
}

